In [1]:
range(15) # creats iterateration of number from 0-14

range(0, 15)

In [2]:
list(range(15)) # creats list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
list1 = list(range(1,15)) # creats list starting from 1 to n-1=14

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
list(range(1,15,2)) # creats list of 1-14 with interval of 2

[1, 3, 5, 7, 9, 11, 13]

In [5]:
print("hello")

hello

In [8]:
list1 = list(range(1,15))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
len(list1) # gives total number of elements in a list

14

In [10]:
type(list1)

list

In [11]:
max(list1)

14

In [12]:
min(list1)

1

In [27]:
list. #"pressing tab" gives all the inbuilt functions

--- Slicing in List

In [13]:
list2 = ["a","b",1,3,5,0.4,"Hello"]
list2[0]

'a'

In [14]:
len(list2)

7

In [15]:
list2[-1] # gives last elements in a list

'Hello'

In [17]:
list2[3] = 50 # replaces 3rd indexes by 50
print(list2)

['a', 'b', 1, 50, 5, 0.4, 'Hello']

In [18]:
list2[2:6] # gives number from 2nd indexex to 5th indexex

[1, 50, 5, 0.4]

In [19]:
#Advance slicing
list2[2:7:2] #gives elements from index 2 to 6 with interval of 2

[1, 5, 'Hello']

In [20]:
list2[2:]

[1, 50, 5, 0.4, 'Hello']

In [21]:
list2[:]

['a', 'b', 1, 50, 5, 0.4, 'Hello']

In [22]:
list2[::-1] # gives all the elements in reverse order

['Hello', 0.4, 5, 50, 1, 'b', 'a']

In [23]:
list2[6:1:-1] # gives elements from 6th index to 2nd index in reverse order

['Hello', 0.4, 5, 50, 1]

---

In [25]:
#Tuple
t1 = (3,4,5,-1,"a") # immutable, elements cannot be changed. It can only be indexes